# files to ignore in att&ck-analysis folder
att&ck-analysis/old-files
att&ck-analysis/.ipynb_checkpoints
att&ck-analysis/test-get-d3fend.ipynb
att&ck-analysis/attack-stix-2-excel.ipynb

# files to ignore in current folder
mitre-env/
openai-prompts.txt
json2jsonl.py
